section.condit.contaiiner 
    h2.condit__title Як ми продаємо Ваш автомобіль
    ul.condit__list 
        li.condit__item 
            .condit__item-substrate 
                svg.condit__item-substrate-img(width="53" height="57") 
                    use(href="../images/condition/img-1.svg#icon-check") 
            h3.condit__item-subtitle 
                span.condit__item-subtitle-num 1. 
                | Запишіться на огляд авто
            p.condit__item-text Оцініть Ваш автомобіль, заповнивши просту форму, та дочекайтеся дзвінка оператора.
        li.condit__item 
            .condit__item-substrate
                svg.condit__item-substrate-img(width="54" height="54") 
                    use(href="../images/condition/img-2.svg#icon-service") 
            h3.condit__item-subtitle 
                span.condit__item-subtitle-num 2. 
                | Пройдіть безкоштовний технічний опис 
            p.condit__item-text У зручний час приїжджайте до найближчої філії CarPrice, де ми проведемо технічний опис та перевіримо юридичну «чистоту» машини абсолютно безкоштовно.
        li.condit__item 
            .condit__item-substrate
                svg.condit__item-substrate-img(width="54" height="45") 
                    use(href="../images/condition/img-3.svg#icon-offer")  
            h3.condit__item-subtitle 
                span.condit__item-subtitle-num 3. 
                | Отримайте пропозицію
            p.condit__item-text Всю зібрану інформацію ми використовуємо для формування чесної ціни на Ваш автомобіль.
        li.condit__item 
            .condit__item-substrate
                svg.condit__item-substrate-img(width="46" height="46") 
                    use(href="../images/condition/img-4.svg#icon-cash") 
            h3.condit__item-subtitle 
                span.condit__item-subtitle-num 4. 
                | Отримайте гроші за Ваш автомобіль 
            p.condit__item-text Якщо Ви погоджуєтесь із запропонованою ціною, ми оформимо документи, і Ви відразу ж отримаєте всю суму готівкою або на банківську картку.
    button.condit__btn(
        type="submit"
        href="#"
        ) Дізнатись вартість
        svg.condit__btn-img(width="23" height="33") 
            use(href="../images/hero/touch.svg#icon-touch")