include mixin/logo

footer.footer.container 
    +logo
    .footer__descr 
        h4.footer__descr-title Cartoil.ua - Організація займається позиками авто під ПТЗ
        .footer__descr-box 
            a.footer__descr-policy(href="#") Політика конфіденційності
            a.footer__descr-policy(href="#") Угода користувача
    .footer__descr-info 
        a.footer__descr-phone(href="#") 8 (800) 123 45 67
        .footer__descr-social 
            a.footer__descr-social-link(href="#") 
                .footer__descr-social-link-border
                    svg.footer__descr-social-img(width="16" height="16") 
                        use(href="./images/sprite.svg#icon-telegram")
            a.footer__descr-social-link(href="#") 
                .footer__descr-social-link-border
                    svg.footer__descr-social-img(width="16" height="16") 
                        use(href="./images/sprite.svg#icon-facebook")
            a.footer__descr-social-link(href="#")
                .footer__descr-social-link-border
                    svg.footer__descr-social-img(width="16" height="16") 
                        use(href="./images/sprite.svg#icon-instagram")

