include mixin/logo

header.header 
        +logo
        .header-info 
            a.header-info__link
                svg.header-info__img(width="22" height="22") 
                    use(href="./images/header/call.svg#icon-call")
                p.header-info__tel 8 (800) 123 45 67