include mixin/logo

section.sale.container 
    .sale-car 
        img.sale-car__img(src="../images/sale/nissan.png" alt="Image car")
        .sale-car__brand 
            +logo
        a.sale-car__link-i(href="#") Продати авто
    .sale-ptz 
        a.sale-car__link-p(href="#") Позики під ПТЗ
        img.sale-car__img(src="../images/sale/ptz.png" alt="Image PTZ")
