.container {
    max-width: 2560px;
}

// Mobile
@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin-right: auto;
        margin-left: auto;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
    }
}

// Desktop
@media screen and (min-width: 1200px) {
    .container {
        width: 1920px;
    }
}