:root {
    --accent-color: rgb(142, 215, 79); // #8ED74F
    --black-color: rgb(0, 0, 0);
    --black-color-2: rgb(39, 36, 45);
    --bg-button: rgb(44, 201, 184);
    --bg-button-hover: rgb(23, 126, 115);
    --light-color: rgb(255, 255, 255);
    --func-transit: 0.45s ease-in-out;
}