@mixin link-styles {
    font-family: 'Montserrat-500';
    color: var(--light-color);
}

// Mobile
@media screen and (min-width: 375px) {
    .sale-car__link {
        @include link-styles;
        font-size: 25px;
        line-height: 30px;
        max-width: 120px;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .sale-car__link {
        @include link-styles;
        font-size: 25px;
        line-height: 30px;
        max-width: 120px;
    }
}

// Desktop
@media screen and (min-width: 1200px) {
    .sale-car__link {
        @include link-styles;
        font-size: 30px;
        line-height: 40px;
        max-width: 165px;
    }
}