.condit {
    position: relative;
    background: url('../images/bg.png');

    &__title {
        font-family: 'Montserrat-500';
        color: var(--black-color);
    }

    &__list {
        display: flex;
    }

    &__item {
        display: flex;
    }

    &__item-substrate {
        position: relative;
        width: 97px;
        height: 97px;
        border-radius: 50%;
        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item-subtitle {
        font-family: 'Montserrat-500';
        font-size: 20px;
        line-height: 30px;
        color: var(--black-color);
    }

    &__item-subtitle-num {
        @extend .condit__item-subtitle-num;
        color: var(--accent-color);
        margin-bottom: 0;
    }

    &__item-text {
        font-family: 'Montserrat-400';
        font-size: 16px;
        line-height: 25px;
        color: var(--black-color);
    }

    &__item-text-link {
        @extend .condit__item-text;
        text-decoration: underline;
        cursor: pointer
    }

    &__btn {
        @include button-styles;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__btn-img {
        margin-left: 10px;
        vertical-align: middle;
    }
}

// Mobile
@media screen and (min-width: 375px) {
    .condit {
        padding: 60px 0 160px 0;
    
        &__title {
            font-size: 30px;
            line-height: 40px;
            max-width: 270px;
            margin-bottom: 64px;
            padding-left: 26px;
        }
    
        &__list {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 50px;
            padding-left: 26px;
        }
    
        &__item {
            flex-direction: row;
            max-width: 320px;
        }
    
        &__item-substrate {
            background-color: var(--accent-color);
            margin-right: 25px;
            &-img {
                fill: var(--light-color);
            }
        }
    
        &__item-inner {
            max-width: 198px;
        }
    
        &__item-subtitle {
            max-width: 150px;
            margin-bottom: 30px;
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .condit {
        padding: 60px 0 160px 0;
    
        &__title {
            font-size: 30px;
            line-height: 40px;
            max-width: 288px;
            margin-bottom: 64px;
            padding-left: 26px;
        }
    
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            margin-bottom: 50px;
            padding-left: 26px;
        }
    
        &__item {
            flex-direction: row;
            max-width: 320px;
        }
    
        &__item-substrate {
            background-color: var(--accent-color);
            margin-right: 25px;
            &-img {
                fill: var(--light-color);
            }
        }
    
        &__item-inner {
            max-width: 198px;
        }
    
        &__item-subtitle {
            max-width: 150px;
            margin-bottom: 30px;
        }
    }
}

// Desktop
@media screen and (min-width: 1200px) {
    .condit {
        width: 1920px;
        padding: 70px 0 163px 335px;
    
        &__title {
            font-size: 35px;
            line-height: 60px;
            max-width: 333px;
            margin-bottom: 130px;
        }
    
        &__list {
            flex-direction: row;
            gap: 97px;
            margin-bottom: 100px;
        }
    
        &__item {
            flex-direction: column;
            max-width: 240px;
        }
    
        &__item-substrate {
            background-color: var(--black-color);
            margin-bottom: 43px;
            &-img {
                fill: var(--accent-color);
            }
        }
    
        &__item-subtitle {
            max-width: 210px;
            margin-bottom: 40px;
        }
    
        &__btn {
            transition: var(--func-transit);
            &:hover {
                background-color: var(--bg-button-hover);
            }
        }
    }
}